[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=fusuma
Comment=fusuma
Exec=fusuma --daemon --log=/tmp/fusuma.log
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

