[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=sxhkd after delay
Comment=enable sxhkd after window manager starts up
Exec=/usr/bin/sxhkd -m -1
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

